{
  "root": true,
  "env": {
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "plugin:vue/vue3-essential",
    "plugin:vue/vue3-strongly-recommended",
    "eslint:recommended",
    "@vue/airbnb",
    "plugin:jest/recommended"
  ],
  "rules": {},
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": ["jest"]
}
